<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>        
Somos uma empresa com vasta experiência no mercado de Tecnologia da Informação, Redes de Dado/Voz e Segurança Eletrônica.<br> 

Contando com profissionais capacitados com mais de 12 anos de experiência, podemos atender sua demanda de forma personalizada com rapidez e eficiência.<br>

Oferecemos soluções práticas e eficazes, com qualidade e confiabilidade que somente nossa marca possui.<br>

Somos a solução para qualquer problema técnico em Brasília e Entorno.
        </h4> 

        <!-- <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
